@model DATN.Models.DanhGia

@{
    ViewBag.Title = "CreateDanhGia";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<h2>Create Đánh Giá</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <dl class="form-control">
            <dt> Huyện:</dt>
            <dd>
                @ViewBag.tenHuyen
            </dd>
            <dt> Năm Đánh Giá:</dt>
            <dd>
                @ViewBag.year
            </dd>
            <dd>
                <input name="dthID" id="dthID" type="hidden" value="@ViewBag.id" readonly />
            </dd>
        </dl>
        <div class="form-group">
            @Html.LabelFor(model => model.IDCT, "Công Trình:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.dsCongTrinh != null)
                {
                    @Html.DropDownListFor(model => model.IDCT, ViewBag.dsCongTrinh as SelectList, "--- Chọn Công Trình ---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDCT, "", new { @class = "text-danger" })
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoDan, "Số hộ dân:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoDan, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.DropDownListFor(model => model.HoDan, new SelectList(" "), "--- Số Hộ Dân ---", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.HoDan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoNgheo, "Số hộ nghèo:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoNgheo, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.DropDownListFor(model => model.HoNgheo, new SelectList(" "), "--- Số Hộ Nghèo ---", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.HoNgheo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaihinhQL, "Loại hình quản lý:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LoaihinhQL, ViewBag.loaihinhQL as SelectList, "--- Loại hình quản lý ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LoaihinhQL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThuphiDV, "Thu phí dịch vụ:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ThuphiDV, ViewBag.dsyesNo as SelectList, "--- Thu phí dịch vụ ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ThuphiDV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatQCVN, "Đạt QCVN:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DatQCVN, ViewBag.dsyesNo as SelectList, "--- Đạt QCVN ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DatQCVN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KhaNangCapNuoc, "Khả Năng Cấp Nước:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.KhaNangCapNuoc, ViewBag.dsyesNo as SelectList, "--- Khả Năng Cấp Nước ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KhaNangCapNuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TyLeDauNoi, "Tỷ lệ đấu nối:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TyLeDauNoi, ViewBag.dsyesNo as SelectList, "--- Tỷ lệ đấu nối ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TyLeDauNoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CanboQL, "Cán bộ quản lý:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CanboQL, ViewBag.dsyesNo as SelectList, "--- Cán bộ quản lý ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CanboQL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p>
    <a href="/Admin/QLDuLieu/Test1?dataID=@ViewBag.id">Back</a>
</p>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
$(document).ready(function () {
        $("#IDCT").change(function () {
            $.get("/Admin/QLDuLieu/GetHoNgheo", { congtrinhID: $("#IDCT").val() }, function (data) {
                $("#HoNgheo").empty();
                $.each(data, function (index, row) {
                    $("#HoNgheo").append("<option value='" + row.HoNgheo + "'>" + row.HoNgheo + "</option>")
                });
            });
        })
    });
$(document).ready(function () {
        $("#IDCT").change(function () {
            $.get("/Admin/QLDuLieu/GetHoDan", { congtrinhID: $("#IDCT").val() }, function (data) {
                $("#HoDan").empty();
                $.each(data, function (index, row) {
                    $("#HoDan").append("<option value='" + row.CSHDTT + "'>" + row.CSHDTT + "</option>")
                });
            });
        })
    });
</script>
