@model IEnumerable<DATN.Models.QLHuyen>

@{
    ViewBag.Title = "DanhSachHuyen";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<h2>Danh Sách Huyện</h2>

<div class="search-bar">
    <form class="search-form d-flex align-items-center" method="get">
        <input type="text" name="keySearch" placeholder="Search">
        <button style="margin-left:10px" type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
</div>

<p style="margin-top:10px">
    @Html.ActionLink("Create New", "CreateHuyen")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>Tên Tỉnh</th>
        <th>Tên Huyện</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @*@{
            DATN.Models.QLCNEntities db = new DATN.Models.QLCNEntities();
            var tinh = db.QLTinhs.Find(item.IDTinh);
            if (tinh != null)
            {
                <span>@tinh.TenTinh</span>
            }
        }*@
        @Html.DisplayFor(modelItem => item.QLTinh.TenTinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenHuyen)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditHuyen", new { id = item.ID, idTinh= item.IDTinh }) |
        @Html.ActionLink("Delete", "DeleteHuyen", new { id = item.ID }, new {onclick = "return confirm('Xác nhận xóa?');"})
    </td>
</tr>
}
<tr>
    <td colspan="4">
        @{
            int PrePage = ViewBag.Page - 1;
            if (PrePage <= 0)
            {
                PrePage = 1;
            }
            int NextPage = ViewBag.Page + 1;
            if (NextPage > ViewBag.Trang)
            {
                NextPage = ViewBag.Trang;
            }
        }
        <ul style="margin-top:20px;justify-content:center" class="pagination">
            <li class="page-item">
                <a class="page-link" href="DanhSachHuyen?keySearch=@ViewBag.keySearch&&page=@PrePage">
                    Pre
                </a>
            </li>
            @for (int i = 0; i < ViewBag.Trang; i++)
            {
                if (i + 1 == ViewBag.Page)
                {
                    <li class="page-item active">
                        <a class="page-link" href="DanhSachHuyen?keySearch=@ViewBag.keySearch&&page=@(i+1)">
                            @(i + 1)
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="DanhSachHuyen?keySearch=@ViewBag.keySearch&&page=@(i+1)">
                            @(i + 1)
                        </a>
                    </li>
                }
            }
            <li class="page-item">
                <a class="page-link" href="DanhSachHuyen?keySearch=@ViewBag.keySearch&&page=@NextPage">
                    Next
                </a>
            </li>
        </ul>
    </td>
</tr>
</table>
